.wrapper {
  display: inline-block;
}

.wrapper h1 {
  font-family: 'Londrina Solid';
  font-size: 56px; /*68px*/
  margin-bottom: 5px; /*10px*/
  line-height: 1;
}

@media (max-width: 992px) {
  .wrapper h1 {
    font-size: 56px;
  }
}
